<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulação - Dispositivos IOT</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/PageScript/Devices.js"></script>
</head>
<body>
    <h1>Simulando dispositivos - Monitoramento</h1>

    <script>
        $(document).ready(()=>{
        })
    </script>
 
</body>
</html>